# FastAPI
fastapi
uvicorn
python-multipart

# Database
sqlalchemy
psycopg2-binary

# PDF Processing
PyMuPDF
pdf2image
Pillow

# Neo4j Driver
neo4j

# Computer Vision (for image detection)
opencv-python
numpy

# AI/ML
google-generativeai
transformers
torch

torchvision

# Utilities
python-dotenv
requests

#for Rag 
qdrant-client 
sentence-transformers
spacy
